body{
    font-size: 14px;
    background-color: #000000
}
/* .tooltip { */
/*   background: #eee; */
/*   box-shadow: 0 0 5px #999999; */
/*   color: #333; */
/*   display: none; */
/*   font-size: 12px; */
/*   left: 130px; */
/*   padding: 10px; */
/*   position: absolute; */
/*   text-align: center; */
/*   top: 95px; */
/*   width: 80px; */
/*   z-index: 10; */
/* } */


div.tooltip {
    position: absolute;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    font: 12px sans-serif;
    background: #339933;
    border: 2px;
    border-radius: 8px;
    pointer-events: none;
}